/target
**/.settings
**/.cproject
**/.proj
**/*.rs.bk
**.autosave
**.DS_Store
boostvoronoi.iml
.vscode
.project
Cargo.lock
.idea

# Some C++ comparison stuff:
compare_cpp.txt
compare_cpp2.txt
compare_rust.txt
find_and_replace.py
flamegraph.svg
