/target
/cpp_projects/test_generator/Debug
/cpp_projects/voronoi_visual/Debug/
/cpp_projects/voronoi_visual_simple/Debug/
**/.settings
**/.cproject
**/.proj
**/*.rs.bk
**.autosave
**.DS_Store
boostvoronoi.iml
.project
Cargo.lock
/.idea
boost_voronoi_c++.dia~
compare_cpp.txt
compare_rust.txt
issue_43_1.txt
