[package]
name = "boostvoronoi"
version = "0.9.1"
authors = ["eadf"]
edition = "2018"
description = "Boost voronoi ported to 100% rust"
readme = "README.md"
repository = "https://github.com/eadf/boostvoronoi.rs"
license = "BSL-1.0"
keywords = ["voronoi", "sweepline", "geometry"]
exclude = [
    "img/*",
    "idea/*",
    ".github/*",
    "examples/input_data/*"
]

[dependencies]
num = "0.4"
ordered-float = "2.5"
ahash = "0.7"
yabf = {version="^0.1.1",default-features=false}
num-traits = "0.2"
thiserror = "1.0"
bitflags = "1.2"
libm = "0.2"
smallvec = "^1.6.1"
# using "geo" feature will enable some From traits
geo = {version="0.18", optional=true}
# using "cgmath" feature will enable some From traits
cgmath = {version="0.18", optional=true}
itertools = "0.10"
lazy_static = "1.4"
cpp_map = "0.0.3"
approx = "0.5"

# These features are only for debug purposes, should normally not be used
[features]
console_debug = []
beachline_corruption_check = []
ce_corruption_check = []

[[example]]
name = "fltk_gui"
path = "example/fltk_gui.rs"

# this example is for development test purposes only
[[example]]
name = "main"
path = "example/main.rs"

[[example]]
name = "readme"
path = "example/readme.rs"

# this example is for development test purposes only
[[example]]
name = "stress_test"
path = "example/stress_test.rs"
required-features = ["geo"]

[[example]]
name = "debug_pps_ce"
path = "example/debug_pps_ce.rs"

[[example]]
name = "debug_pss_ce"
path = "example/debug_pss_ce.rs"

# this example is for development test purposes only
[[example]]
name = "stress_test2"
path = "example/stress_test2.rs"
required-features = ["geo"]

[build-dependencies]
version_check = "0.9"

[dev-dependencies]
geo = "0.18"
fltk = "1.1"
criterion = "0.3"
approx = "0.5"
regex = "1.5"
rand = "0.8"

[[bench]]
name = "bench"
harness = false

[profile.release]
lto = true

[badges]
maintenance = { status = "actively-developed" }

